<footer class="border-top footer">
    <div class="container footer-body">
        <div class="row">
            <div class="col-md-4 text-center">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Upload" asp-action="SubtitleUpload">Translate</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="SubtitleManagement" asp-action="MyTranslations">My Dashboard</a>
                    </li>

                </ul>
            </div>
            <div class="col-md-4 text-center">
                <img src="~/Images/logo-white.png" alt="AI Subtitle Translator" height="150px" />
            </div>
            <div class="col-md-4 text-center">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="PrivacyPolicy">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="TermsOfUse">Terms of Use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="CookiePolicy">Cookie Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <p>&copy; 2025 - SubtitlesTranslator</p>
    </div>
</footer>